@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
	--white-smoke: #f7f1f0;
	--eunry: #c3a6a0;
	--desert: #a15c38;
	--bokara-grey: #262220;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--bokara-grey);
	background-color: var(--desert);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5em 0;
	font-weight: 300;
	line-height: 1.2;
}

h3,
p {
	margin: 1em 6%;
}

h3 {
	font-size: 2em;
	font-weight: 400;
	color: var(--grayscale);
}

p {
	color: var(--bokara-grey);
	font-weight: 100;
}

a {
	color: inherit;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}

	h3,
	p {
		margin: 1em 3%;
	}
}
